.card {
  border-radius: 12px;
  padding: 14px;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  &__image-container {
    width: 100%;
    height: 122px;
    overflow: hidden;
    border-radius: 8px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__icon-text {
    font-family: Cairo;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #000000;
  }
}
.card img {
  height: 122px;
  border-radius: 8px;
}

.card h3 {
  font-family: Cairo;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #172554;
}
.card p {
  font-family: Cairo;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #94a3b8;
}
.card__icon-container {
  display: flex;
  gap: 8px;
  align-items: center;
}
.card__icon-container img {
  width: 20px;
  height: 20px;
}
.card__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 49px;
}
