/* Hide Scroll on the Body */
body {
  font-family: "Cairo", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  

  overflow: hidden; 
}



/* App container and other styles */
.app-container {
  display: flex;
  min-height: 100vh;
  position: relative;
  margin-left: 2px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.main-content {
  flex: 1;
  margin-left: 12px;
  transition: margin-left 0.3s ease;
}
